{% extends "./testPublic/public.template.html.twig" %}
{% block title %}{{ parent() }} Veuillez vous connecter à votre compte {% endblock %}

{% block pagetype %}connect{% endblock %}

{% block logo %}

{% endblock %}
{% block main %}
<section class="login spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Login</h3>
                    <form method="POST">
                        <div class="input__item">
                            <input type="text" name="theuserlogin" id="login"
                                   placeholder="your login"
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'your name'"
                                   value=""/>
                            <span class="icon_mail"></span>
                        </div>
                        <div class="input__item">
                            <input type="password" name="theuserpwd" id="pass"
                                   placeholder="your password"
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'your password'"
                                   value=""/>
                            <span class="icon_lock"></span>
                        </div>
                        <button type="submit" class="site-btn">Login Now</button>
                    </form>
                    <a href="#" class="forget_pass">Forgot Your Password?</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login__register">
                    <h3>Dont’t Have An Account?</h3>
                    <a href="#" class="primary-btn">Register Now</a>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if error is defined %}
        <script>alert("{{ error }}")</script>
    {% endif %}
{% endblock %}
