<div class="col-lg-8">
    <div class="header__nav">
        <nav class="header__menu mobile-menu">
            <ul>
               
                <li><a href="./">Accueil</a></li>
                <li><a href="./?blog">Les articles</a></li>
                <li>
                    <a id="sectionnav">Sections</a>
                    <ul class="dropdown">
                        <ul class="subMenu">
                            {% for itemSection in menu %}
                                <li>
                                    <a href="?section={{ itemSection.thesectionslug }}">{{ itemSection.thesectiontitle }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                    </ul>
                </li>
                <li><a href="./?contact">Contacts</a></li>
                {% if membre is empty %}
                    <li><a href="./?connect" id="connect">Connexion</a></li>
                {% else %}

                    <li><a href="./?disconnect" id="admin">{{ membre.userLogin }} : Déconnexion</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>